.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown-button {
    width: 200px;
    color: white;
    background-color: #202b38;
    font-size: 24px;
}

.dropdown-options {
    font-size: 16px;
    background-color: #202b38;
}

ul li {
    padding: 0px 60px;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}